<div class="jumbotron">
  <div class="container">
    <h1>Ready to get <span id="nutty"> Nutty?</span></h1>
    <p>Find clever, witty, and hilarious gifts for That Nutty Guy you know. Guaranteed to make your friends and family smile.</p>
    <p><span id="gift-icon" class="ir"></span><a href="#">Try out our Gift Finder</a></p>
  </div>
</div>